.material-icons.warning {
  color: #f8bb86;
  font-size: 100px;
  text-align: center;
}
.hlr-app-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hlr-button-row button {
  margin: 10px;
}
